<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .chapter {
            border:1px solid black;
            border-radius:2px;
            margins-bottom:3px;
        }
        .title{
            font-size:12px;
            font-weight:bold;
        }
        .content {
            font-size:10px;
        }
        #python {
            background-color:orange;
        }
        #django {
            background-color:yellow;
    </style>
</head>
<body>
    <div id="python" class="chapter">
        <div class="title">Python</div>
        <div class="content">
            파이썬은 고급 프로그래밍 언어.
        </div>
    </div>

    <div id="django" class="chapter">
        <div class="title">Django</div>
        <div class="content">
            장고는 파이썬으로 작성된 오픈소스 웹 프레임워크.
        </div>
    </div>
</body>
</html>